Repository okfde/codefor.de, pull requests merged in 2021-08, with the labels that each got.

#267 multi lang support
  config.yaml
  content/_index.md
  content/about/index.en.md
  content/about/index.md
  content/blog/2014-05-12-advisory-board.md
  content/blog/_index.md
  content/mitmachen.md
  content/projekte/_index.md
  content/ressourcen/_index.md
  content/ziele.md
  themes/codefor-theme/assets/scss/breakpoints/_375up.scss
  themes/codefor-theme/assets/scss/breakpoints/_576up.scss
  themes/codefor-theme/assets/scss/breakpoints/_768up.scss
  themes/codefor-theme/assets/scss/breakpoints/_base.scss
  themes/codefor-theme/assets/scss/main.scss
  themes/codefor-theme/layouts/_default/single.html
  themes/codefor-theme/layouts/partials/head.html
  themes/codefor-theme/layouts/partials/nav.html
  themes/codefor-theme/layouts/partials/simple_footer.html
Labels: enhancement

#272 📦 Docker compose
  .github/workflows/visual-tests.yml
  docker-compose.yml
Labels: deployment

#281 [Blogpost] Out in the Open Juli 2021
  content/blog/2021-08-01-out-in-the-open-juli.md
  static/blog/out-in-the-open-2021-07/header.jpg
Labels: content

#285 Create 2021-08-12-bodenfeuchtigkeit.md
  content/projekte/2021-08-12-bodenfeuchtigkeit.md
Labels: content

#284 Create 2021-08-12-vortrag_bielefeld_io.md
  content/projekte/2021-08-12-vortrag_bielefeld_io.md
Labels: content
