Repository okfde/codefor.de, pull requests merged in 2021-05, with the labels that each got.

#251 Website Metadata / OpenGraph / Twitter card
  config.yaml
  themes/codefor-theme/layouts/partials/head.html
  themes/codefor-theme/static/favicon.ico
  themes/codefor-theme/static/img/meta/CFG_logo.png
  themes/codefor-theme/static/img/meta/android-chrome-192x192.png
  themes/codefor-theme/static/img/meta/android-chrome-512x512.png
  themes/codefor-theme/static/img/meta/apple-touch-icon.png
  themes/codefor-theme/static/img/meta/browserconfig.xml
  themes/codefor-theme/static/img/meta/favicon-16x16.png
  themes/codefor-theme/static/img/meta/favicon-32x32.png
  themes/codefor-theme/static/img/meta/mstile-150x150.png
  themes/codefor-theme/static/img/meta/safari-tab-icon.svg
  themes/codefor-theme/static/img/meta/site.webmanifest
Labels: code, layout

#258 config update
  config.yaml
Labels: deployment

#256 Create blogpost for jedeschule.de 2.0
  content/blog/2021-05-06-jedeschule-2.md
  static/blog/jedeschule-2.jpg
Labels: content

#254 Added content creator 📄
  README.md
  docs/cc/Propose.png
  docs/cc/addfile.png
  docs/cc/archetypes-list.png
  docs/cc/archetypes.png
  docs/cc/commitUpload.png
  docs/cc/content.png
  docs/cc/details.png
  docs/cc/newfile.png
  docs/cc/pr.png
  docs/cc/pr2.png
  docs/cc/raw.png
  docs/cc/selectBranch.png
  docs/cc/upload.png
  docs/contentCreation.md
Labels: documentation

#263 Content: Hackathon Leitfaden Changerequest by @Sonja
  content/ressourcen/_index.md
  themes/codefor-theme/layouts/partials/simple_footer.html
Labels: content

#266 Updated Lab Wuppertal
  content/labs/wuppertal.md
Labels: content
